<div class="section-image-text rich-text rich-text--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="rich-text">
  <div class="grid page-width">
    <h1>{{ section.settings.section_title }}</h1>
    <img src="{{ section.settings.image | img_url: '1024x1024' }}" />
    <div class="image-text--container align--center">
      {{ section.settings.text }}
      {% if section.settings.url and section.settings.button_text %}
      <a class="madamesum-button" href="{{ section.settings.url }}">
        {{ section.settings.button_text }}
      </a>
      {% endif %}
    </div>
</div>

{% schema %}
{
  "name": {
    "en": "Bottom Section"
  },
  "class": "index-section index-section--rich-text",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": {
        "en": "Heading"
      },
      "default": {
        "en": "Talk about your brand"
      }
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "richtext",
      "id": "text",
      "label": {
        "en": "Text"
      },
      "default": {
        "en": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }
    },
    {
      "type": "text",
      "id": "button_text",
      "label": {
        "en": "Button Text"
      }
    },
    {
      "type": "url",
      "id": "url",
      "label": {
        "en": "Button URL"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Rich text"
      },
      "category": {
        "en": "Text"
      }
    }
  ]
}
{% endschema %}
